<div class="comment-area-wrapper">
  <div class="choose-star-wrapper">
    <input type="radio" name="stars" value="0">1</input>
    <input type="radio" name="stars" value="1">2</input>
    <input type="radio" name="stars" value="1">3</input>
    <input type="radio" name="stars" value="1">4</input>
    <input type="radio" name="stars" value="1">5</input>
    <span class="star-container"/>
  </div>
  
  <textarea class="comment-body">
  </textarea>
  
  <a href="#send-comment" class="send-commnet">发布评论</a>
  
</div>