{% raw %}
<div class="wrapper nameplate-wrapper">
  <div class="wrapper avatar-wrapper">
    <img id="avatar" src="{{ avatar_src }}"/>
  </div>
  
  <div class="welcome-info">你好，{{ user_name }}</div>
  <div class="wrapper action-list-wrapper">
    <ul class="action-list">
      <li><a href="#dashboard" style="color: white;text-decoration: none;font-size: 13px;">个人中心</a></li>
      <li><a href="#logout" style="color: white;text-decoration: none;font-size: 13px;">退出</a></li>
    </ul>
  </div>
</div>
{% endraw %}