<div class="wrapper explore-wrapper">
  <div class="wrapper explore-button-wrapper">
    <a href="#index" style="
    color: #008A70;
    text-decoration: none;">匿名用户</a>
  </div>

  <div class="wrapper explore-button-wrapper">
    <a href="#index" style="
    margin-left: 100px;
    color: #008A70;
    text-decoration: none;">登录</a>
  </div>
  
  <div id="suggests-recipe" class="wrapper info-wrapper" style="
    padding-top: 30px;">
    <div class="row info-row">
      <div class="row-head info-row-head">
      <span class="before-row-head"></span>
        <h2>配方列表</h2>
      <span class="after-row-head"></span>
    </div>
      <ul>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
      </ul>
      
      <a href="#load-more" class="load-more" style="
    margin-left: 50px;
    text-decoration: none;">more..</a>
    </div>
    
    <div class="row info-row">
<div class="row-head info-row-head">
      <span class="before-row-head"></span>
        <h2>配方列表</h2>
      <span class="after-row-head"></span>
    </div>      <ul>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
      </ul>
      
      <a href="#load-more" class="load-more"style="
    margin-left: 50px;
    text-decoration: none;">more..</a>
    </div>
    
    <div class="row info-row">
      <div class="row-head info-row-head">
       <span class="before-row-head"></span>
         <h2>配方列表</h2>
       <span class="after-row-head"></span>
     </div>      
    <ul>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
        <li>barabarabara...</li>
      </ul>
      
      <a href="#load-more" class="load-more" style="
    margin-left: 50px;
    text-decoration: none;">more..</a>
    </div>
  </div>
</div>