{% raw %}
<div class="user-info">
	<img src="{{ avatar_big }}" class="avatar avatar-img"></img>
	<div class="user-name-wrapper wrapper">
	  <h3 id="username">{{ name }}</h3>
	  <h2 id="user_intro">{{ description }}</h2>
	  <p id="joined_time">{{ joined_since }}</p>
	</div>


	<div id="recipes-count" class="plate plate-btn">配方： <span class="num">{{ recipes_count }}</span></div>
	<div id="watches-count" class="plate plate-btn">关注： <span class="num">{{ watches_count }}</span></div>
	<div id="comments-count" class="plate plate-btn">评论： <span class="num">{{ comments_count }}</span></div>
</div>

<div class="content user-list-content">
	<div class="row info-row1">
        <h2>我的配方</h2>
    <div class="recipe-list-wrapper">
    </div>
</div>
  
  <div class="row info-row2">
        <h2>关注配方</h2>
  <div class="watch-list-wrapper">
    </div>
  </div>
</div>

{% endraw %}