<div class="">
	<img src=""></img>
	<h3 id="username"></h3>
	<h2 id="user_intro"></h2>

	<a href=""> </a>
	<p id="joined_time"></p>
	<a type=""></a>
	<a type=""></a>
	<a type=""></a>
</div>

<div class="">
	<div class="row info-row">
    <h2>网站介绍</h2>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
  
  <div class="row info-row">
    <h2>实用方式</h2>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
</div>
