<div class="wrapper login-form-wrapper">
  <form action="#login" method="post" accept-charset="utf-8">
    
    <div class="icon username-icon"/>
    
    <input type="text" name="username" placeholder="用户名" id="username">
    
    <div class="icon password-icon"/>
    <input type="password" name="password" placeholder="密码" id="password">

    <a href="#login" class="btn login-btn">登录</a>
    <a href="#register" class="btn register-btn">注册</a>
  </form>
</div>


<div class="wrapper info-wrapper">
  <div class="row info-row">
    <div class="row-head info-row-head">
      <span class="before-row-head" />
        <h2>网站介绍</h2>
      <span class="after-row-head" />
    </div>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
  
  <div class="row info-row">
    <div class="row-head info-row-head">
      <span class="before-row-head" />
        <h2>网站介绍</h2>
      <span class="after-row-head" />
    </div>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
  
  <div class="row info-row">
    <div class="row-head info-row-head">
      <span class="before-row-head" />
        <h2>网站介绍</h2>
      <span class="after-row-head" />
    </div>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
</div>