<div class="wrapper form-wrapper">
  <form action="#login" method="post" accept-charset="utf-8">
    <input type="text" name="username" value="用户名" id="username">
    <input type="password" name="password" value="密码" id="password">

    <p><input type="submit" value="登录"></p>
    <a  href="#register">注册</a>
  </form>
</div>


<div class="wrapper info-wrapper">
  <div class="row info-row">
    <h2>网站介绍</h2>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
  
  <div class="row info-row">
    <h2>实用方式</h2>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
  
  <div class="row info-row">
    <h2>使用须知</h2>
    <ul>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
      <li>barabarabara...</li>
    </ul>
  </div>
</div>