<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>Pepper</title>
	<script src="/js/lib/zepto.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lib/ICanHaz.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lib/fastclick.js" type="text/javascript" charset="utf-8"></script>
	
	{% block script %}
	{% endblock %}
</head>


<body>
{% block body %}
{% endblock %}
</body>
  <script src="/js/modules/pages.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/common.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/rank.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/recipe.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/paper.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/author.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/user.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/modules/comment.js" type="text/javascript" charset="utf-8"></script>
  {% block script_bottom %}
  {% endblock %}
</html>
