{% extends "base.html" %}
{% block script %}
<script src="js/desktop.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/css/master.desktop.css" type="text/css" media="screen" title="no title" charset="utf-8">

<!-- pages template-->
<script id="welcomePage" type="text/html" charset="utf-8">
{% include "pages.desktop/welcome_page.html" %}
</script>
<script id="explorePage" type="text/html" charset="utf-8">
{% include "pages.desktop/explore_page.html" %}
</script>
<script id="phonePage" type="text/html" charset="utf-8">
{% include "pages.desktop/phone_page.html" %}
</script>
<script id="userViewPage" type="text/html" charset="utf-8">
{% include "pages.desktop/user_dashboard.html" %}
</script>
<script id="recipeViewPage" type="text/html" charset="utf-8">
	<h1>recipe view page</h1>
</script>
<script id="paperViewPage" type="text/html" charset="utf-8">
{% include "pages.desktop/paper_view_page.html" %}
</script>
<script id="authorViewPage" type="text/html" charset="utf-8">
	<h1>author view page</h1>
</script>
<script id="userPreViewPage" type="text/html" charset="utf-8">
{% include "pages.desktop/user_preview_page.html" %}
</script>


<!-- ends pages template-->

<!-- widgets template-->
<script id="navigatorWidget" type="text/html" charset="utf-8">
{% include "widgets.desktop/navigator_widget.html" %}
</script>

<script id="nameplateWidget" type="text/html" charset="utf-8">
{% include "widgets.desktop/nameplate_widget.html" %}
</script>

<script id="nameplateWidgetLogout" type="text/html" charset="utf-8">
{% include "widgets.desktop/nameplate_widget_logout.html" %}
</script>

<!-- ends template-->

<!-- common components -->
<script id="commonListItem" type="text/html" charset="utf-8">
{% include "components.desktop/common_list_item_component.html" %}
</script>

<script id="commonList" type="text/html" charset="utf-8">
{% include "components.desktop/common_list_component.html" %}
</script>

<script id="recipeListItem" type="text/html" charset="utf-8">
{% include "components.desktop/recipe_list_item_component.html" %}
</script>

<script id="recipeList" type="text/html" charset="utf-8">
{% include "components.desktop/recipe_list_component.html" %}
</script>

<script id="paperListItem" type="text/html" charset="utf-8">
{% include "components.desktop/paper_list_item.html" %}
</script>
<!-- end common components -->



{% endblock %}


{% block body %}

<div id="navigator">
  <div class="wrapper navigator-wrapper">
    <div id="logo" class="logo logo-img"></div>

    <form action="#search" method="get" accept-charset="utf-8" id="search">
      <div class="wrapper search-wrapper">
        <input type="text" name="search" placeholder="Search here.." id="search">  
      </div>
      <a href="#search" method="get" class="search-icon"></a>
    </form>


    <div id="nameplate">
    </div>
  </div>
</div>

<div id="main-container"></div>

<div id="loading-anmiation" class="hidden"></div>

<div id="footer">
  <div class="wrapper footer-wrapper">
    <p> 帮助 | 反馈意见 | 投诉举报 | 协议 </p>
  </div>
</div>

{% endblock %}

